*.png
*.pyc
*.txt
*.smt2
/src/Dataset/__pycache__
/linxi-develop/
/.vscode/
__pycache__
/src/Archive/
/src/Fig/
/Figures/
/MISC/
/Details/
temp.txt
sorted_results.txt
surface_code_test_runtime.png
plot.py
Object.py
/src/Texts/
