*.png
*.pyc
*.smt2
/src/Dataset/__pycache__
/linxi-develop/
/Details/
/Archive/
/.vscode/
/Output-arc/
__pycache__
/src/Archive/
/src/Fig/
/src/Execute/
/Figures/
/MISC/
/Details/
temp.txt
sorted_results.txt
surface_code_test_runtime.png
plot.py
Object.py
/src/Texts/
