*.png
*.svg
*.pyc
*.smt2
*.tar
/src/Dataset/__pycache__/
/linxi-develop/
/Details/
/Archive/
/.vscode/
/Output-arc/
__pycache__
/src/Archive/
/src/Fig/
/src/Execute/
/Figures/
/MISC/
/src/Texts/
/bitwuzla-for-veriqec/
*.zip